@media screen {
  body {
    visibility: hidden;
    overflow: hidden;
    &:before {
      visibility: visible;
      content: "Print this page to see stuff";
    }
  }  
}

@media print {
  $color-dark-text: black;
  $color-light-text: #696969;
  $color-link: #b92520;

  @font-face {
    font-family: Lato;
    src: url('fonts/Lato-Medium.ttf');
  }

  @font-face {
    font-family: Vera;
    src: url('fonts/Vera.ttf');
  }

  @font-face {
    font-family: Vera-bold;
    src: url('fonts/VeraBd.ttf');
  }

  * {
    box-sizing: border-box;
    margin: 0px;
  }

  body {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: Arial;

    .column {
      &:nth-child(1) {
        flex: 0 0 410px;
        margin-right: 30px;
      }
      &:nth-child(2) {
        max-width: 300px;
      }
    }
  }

  h1, h2 {
    font-family: Vera-bold;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-dark-text;
  }
  
  p, li {
    font-family: Lato;
    font-size: 16px;
    color: $color-light-text;
  }

  ul, ol {
    padding-left: 30px;
  }

  a {
    color: $color-link;
    text-decoration: none;
  }

  .jumbotron {
    h1 {
      font-size: 60px;
      line-height: 0.85em;
    }
    h2 {
      font-size: 26px;
      color: $color-light-text;
    }
  }

  .section {
    h1 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    h2 {
      font-family: Vera;
      font-size: 19px;
      font-weight: normal;
      margin-bottom: 5px;
    }
  }

  #title {
    margin-bottom: 30px;
  }

  #profile {
    margin-bottom: 20px;
  }

  #experience {
    .section-item {
      padding-top: 5px;
      margin-bottom: 15px;
      .xp-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        p {
          display: inline-block;
          font-size: 19px;
          font-style: italic;
          color: $color-dark-text;
        }
      }
      li {
        margin-bottom: 5px;
      }
    }
  }

  #contact {
    margin-bottom: 30px;
    p {
      font-size: 13px;
      line-height: 1.5em;
    }
  }

  #skills {
    margin-bottom: 15px;
    .section-item {
      margin-bottom: 5px;
    }
  }

  #projects {
    .section-item {
      margin-bottom: 5px;
      a {
        font-style: italic;
      }
    }
  }
}
